
.event {
    margin: 5px 0px 5px;
    height: 550px;
}
.nav-link{
    width: 100%;
    display: flex;
    justify-content: space-between
}
.navbar-toggle{
    float: right;
}
.map:nth-child(1) {
    height: 500px;
}
#g-map:nth-child(1){
    height: 700px !important;
    width: 100% !important;
}
#g-map{
    width: 100%;
}
#mapy {
    width: 95% !important;
    height: 100% !important;
}
/* .gm-style {
    width: 1px !important;
    height: 1px !important;
} */
.navbar-brand .black{
    float: left;
}
.black{
    text-decoration: none !important;
    color: black !important;
    padding: 5px;
}   
.clean-block{
    padding: 0px;
}
.clean-block.clean-post{
    padding-top:30px;
}
.clean-block.clean-hero:before {
    background-color: transparent !important;
    /* height: 100%; */
}

.navbar-brand{
  font-size: 2em  
}

main .container {
    box-shadow: 0 2px 19px;
    padding: 0px;
}

.page landing-page{
    height: 100%;
}
@media only screen and (max-width: 600px) {
    
}
